*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f4f4f4;
}

.container{
width:700px;
margin:40px auto;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,.2);
}

h1{
text-align:center;
margin-bottom:20px;
color:#ff5722;
}

form{
display:flex;
flex-direction:column;
gap:15px;
margin-bottom:30px;
}

input{
padding:12px;
font-size:16px;
}

button{
padding:12px;
background:#ff5722;
color:white;
border:none;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:#e64a19;
}

h2{
margin-bottom:20px;
}

hr{
margin:15px 0;
}